// Darkened navbar because splash is below
nav {
    background-color: black;
}

// Category list
#categories {
    display: flex;
    width: 50vw;
    justify-content: space-evenly;

    * {
        font-weight: bold;
        color: rgb(52, 110, 191);
    }
}

// Splashscreen
#splash {
    width: 100vw;
    padding-top: 15vh;
    padding-bottom: 27.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    background: rgb(24, 24, 56);
    background-color: black;
    border-bottom: 1px solid rgb(18, 18, 51);

    // Splashscreen inner, used for centering
    div {
        width: 50vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

// Title for splashscreen
#title {
    font-size: 3.75rem;
    margin: 0;
    margin-top: 0.75rem;
}

// Page used to contain content
#page {
    margin-left: 22vw;
    margin-right: 22vw;
    margin-bottom: 5rem;
}

// Small statuses in splashscreen under title
#statuses {
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    color: rgb(169, 169, 169);

    p {
        margin-top: 1rem;
    }
}