// Category list
#categories {
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    margin-bottom: 1.5rem;

    // No underline
    a {
        text-decoration: none;
    }
}

// Splashscreen
#splash {
    padding-top: 15vh;
    padding-bottom: 22.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;

    // Splashscreen inner, used for centering
    div {
        width: 50vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

// Title for splashscreen
#title {
    font-size: 3.75rem;
    margin: 0;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    font-weight: bold;
    line-height: 4rem;
}

// Page used to contain content
#page {
    $margin: 22.5vw;

    margin-left: $margin;
    margin-right: $margin;

    // Shrink text margins on phones
    @media screen and (max-width: 500px) {
        $margin: 10vw;

        margin-left: $margin;
        margin-right: $margin;
        text-align: left;
    }
}

// Small statuses in splashscreen under title
#statuses {
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    color: rgb(169, 169, 169);
    margin-top: 1rem;
}

// Larger gap between h1 sections
h1 {
    margin-top: 3.5rem;
}

// Codeblocks
pre {
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.04) !important;
    border-radius: 1rem;
    font-size: 12pt;
    overflow-x: auto;
}