$tagline-colour:#c4c4c4;

// Central hero content
#hero {
    height: calc(100vh - 75px - 4rem); // minus nav and arrow
    display: flex;
    justify-content: center;
    align-items: center;

    // Inner content
    div {
        text-align: center;
        margin-bottom: 1rem;

        // Name
        h1 {
            $h-space: 1.5rem;

            margin: 0;
            font-size: calc(2.25rem + 1.125vw);
            margin-left: $h-space;
            margin-right: $h-space;
        }

        // Tagline
        p {
            font-size: calc(0.875rem + 1vw);
            margin-top: 0.75rem;
            color: $tagline-colour;
        }
    }
}

// Wrapper around navbar and hero
#hero-outer {
    background-image: url(/img/Home.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    nav {
        background-color: rgba(8,8,22,0.5);
    }
}

// Arrow below hero
#hero-arrow {
    height: 5rem;
    text-align: center;
    color: $tagline-colour;
}

// Content
.content {
    $margin: 22.5vw;

    margin-left: $margin;
    margin-right: $margin;
    margin-bottom: 6rem;

    // Headings
    h1 {
        font-weight: 600;
        margin-top: 4rem;
    }

    // Remove bloaty margin for first heading
    #about {
        margin-top: 2rem;
    }
}