// Central hero content
#hero {
    width: 100vw;
    height: calc(100vh - 75px); // minus nav
    display: flex;
    justify-content: center;
    align-items: center;

    // Inner content
    div {
        text-align: center;
        margin-bottom: 5rem;

        // Name
        h1 {
            margin: 0;
            font-size: calc(2rem + 1.125vw);
        }

        // Tagline
        p {
            font-size: calc(0.875rem + 1vw);
            margin-top: 0.75rem;
            color: #c4c4c4;
        }
    }
}

// Content
.content {
    $margin: 22.5vw;

    margin-left: $margin;
    margin-right: $margin;

    // Headings
    h1 {
        font-weight: 600;
        margin-top: 4rem;
    }

    // Remove bloaty margin for first
    #first {
        margin-top: 2rem;
    }
}