// Central hero content
#hero {
    width: 100vw;
    height: calc(100vh - 75px); // minus nav
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 8, 22);
    background: url(/img/hero.png) no-repeat center center fixed;
    background-size: cover;

    // Inner content
    div {
        text-align: center;
        margin-bottom: 5rem;

        // Name
        h1 {
            margin: 0;
            font-size: 3rem;
        }

        // Tagline
        p {
            font-weight: lighter;
            font-size: 1.75rem;
            margin-top: 0.75rem;
        }
    }
}

// Bottom email
#email {
    font-family: monospace;
    bottom: 0;
    text-align: center;
    position: fixed;
    text-decoration: none;
    color: inherit;
    opacity: 0.35;
    left: calc(50% - 6.75rem);
    padding: 0.5rem;
}