// Body
body {
    color: rgb(217, 217, 217);
    background-color: black;
    background-color: rgb(8, 8, 22);
    margin: 0;
    font-family: 'Inter', sans-serif;
}

// Increased font size
p,
a,
ol,
ul {
    font-size: 1.2rem;
    line-height: 1.75rem;
}

// Space between list elements
ol,
ul {
    * {
        margin-bottom: 0.75rem;
    }
}

// Link colouring for dark background
a {
    color: rgb(52, 110, 191);
}

// Space between the screen and the left of navbar
#nav-left {
    margin-left: 3rem;
}

// Space between the screen and the right of navbar
#nav-right {
    margin-right: 3rem;
}

// Navbar
nav {
    width: 100vw;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Links in navbar
.nav-link {
    text-decoration: none;
    color: inherit;
    font-size: 1.3rem;
}

// Blurry background
.blur {
    background-image: url(/blur.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 60% 60%;
}