// Colours
$bg: rgb(8, 8, 22);

// Body
body {
    color: rgb(217, 217, 217);
    background-color: black;
    background-color: $bg;
    margin: 0;
    font-family: 'Inter', sans-serif;
    margin-bottom: 5rem;
}

// Increased font size
p,
a,
ol,
ul {
    font-size: 1.2rem;
    line-height: 1.75rem;
}

// Space between list elements
ol,
ul {
    * {
        margin-bottom: 0.75rem;
    }
}

// Link colouring for dark background
a {
    color: rgb(59, 118, 202);
}

// Space between the screen and the left of navbar
#nav-left {
    margin-left: 3rem;
}

// Space between the screen and the right of navbar
#nav-right {
    margin-right: 3rem;
}

// Navbar
nav {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Links in navbar
.nav-link {
    text-decoration: none;
    color: inherit;
    font-size: 1.3rem;
}

// Blurry background
.blur {
    background-image: url(/img/Blur.png);
    background-repeat: no-repeat;
    background-size: 60% 60%;
}

// Better image sizing
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
