// Body
body {
    color: rgb(217, 217, 217);
    background-color: black;
    background-color: rgb(8, 8, 22);
    margin: 0;
    font-family: 'Inter', sans-serif;
}


// Increased font size
p,
a {
    font-size: 1.25rem;
}

// Brighter headings with serif font
h1,
h2,
h3,
h4,
h5,
h6,
.nav-link {
    color: rgb(235, 235, 235);
}

// Space between the screen and the left of navbar
#nav-left {
    margin-left: 3rem;
}

// Space between the screen and the right of navbar
#nav-right {
    margin-right: 3rem;
}

// Large main headings
h1 {
    font-size: 2.35rem;
}

// Navbar
nav {
    width: 100vw;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Links in navbar
.nav-link {
    text-decoration: none;
    color: inherit;
    font-size: 1.3rem;
}