.clear-link {
    text-decoration: normal;
    color: unset;
    font-style: normal !important;
}

.post-box {
    background-color: #202020;
    padding: 1rem;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.post-box-inner {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.post-box-date {
    margin: 0;
    min-width: 6.5rem;
    text-align: right;
}

.post-box-link {
    margin: 0;
    font-size: 1.15rem;
    font-weight: normal;
}

.post-box-tagline {
    margin-bottom: 0;
    font-style: italic;
    border-top: 1px solid #2c2c2c;
    padding-top: 0.25rem;
    margin-top: 0.25rem;
}

.category {
    background-color: #202020;
    padding: 0.2rem;
    border-radius: 0.5rem;
    margin-left: 0.35rem;
    font-size: smaller;
}

.img-pad-white {
    padding: 1rem;
    background-color: #ffffff;
}