<head>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <meta property="og:image" content="" />
    {% if page %}
    <!--
        These are known to be sometimes incorrect for pages like about and 404
        but they are error resistant enough - Owen Griffiths, 27/11/2020
    -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.tagline }}" />
    <meta property="og:url" content="{{ site.baseurl }}{{ page.url }}" />
    <meta property="og:article:published_time" content="{{ page.date | date_to_string }}" />
    <meta property="og:article:author" content="{{ site.title }}" />
    {% else %}
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:description" content="{{ site.tagline }}" />
    <meta property="og:url" content="{{ site.baseurl }}" />
    {% endif %}

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>
        {% if page.title == "Home" %}
        {{ site.title }} &middot; {{ site.tagline }}
        {% else %}
        {{ page.title }} &middot; {{ site.title }}
        {% endif %}
    </title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/hyde.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/custom.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href="{{ site.baseurl }}/public/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

    <!--Favicon-->
    <link rel="shortcut icon"
        href="https://avatars1.githubusercontent.com/u/30081702?s=400&u=aa7913e54a5261c4ef69a57413b5d580e8b6ab55&v=4"
        type="image/x-icon">
</head>