{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="/article.css">
<link rel="stylesheet" href="/numbering.css">
{% endblock styling %}

{% block scripts %}
<script src="/fancydate.js"></script>
{% endblock scripts %}

{% block content %}
{# Splashscreen #}
<div id="splash" class="blur">
    <div>
        {# Categories #}
        <div id="categories">
            {% for key, taxonomy in page.taxonomies %}
            {% if key == "categories" %}
            {% set categories = taxonomy %}
            {% for category in categories %}
            <a href="/blog">{{ category }}</a>
            {% endfor %}
            {% endif %}
            {% endfor %}
        </div>
        {# Title #}
        <p id="title">{{ page.title }}</p>
        {# Statuses #}
        <div id="statuses">
            <p class="date">{{ page.date }}</p>
        </div>
    </div>
</div>
{# Content #}
<div id="page">
    {{ page.content | safe }}
</div>
{% endblock content %}