{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="/article.css">
{% endblock styling %}

{% block scripts %}
<script src="/js/fancydate.js"></script>
<script src="/js/progressbar.js"></script>
{% endblock scripts %}

{% block content %}
{# Progress bar #}
<div class="progress" id="progress"></div>
{# Navbar #}
<nav>
    <!-- NOTE: navbar should ideally be a component -->
    <a id="nav-left" class="nav-link" href="/">Owen Griffiths</a>
    <div>
        <a id="nav-right" class="nav-link" href="/blog">Blog</a>
    </div>
</nav>
{# Splashscreen #}
<div id="splash" class="blur">
    <div>
        {# Categories #}
        <div id="categories">
            {% for key, taxonomy in page.taxonomies %}
            {% if key == "categories" %}
            {% set categories = taxonomy %}
            {% for category in categories %}
            <a href="/blog">{{ category }}</a>
            {% endfor %}
            {% endif %}
            {% endfor %}
        </div>
        {# Title #}
        <p id="title">{{ page.title }}</p>
        {# Statuses #}
        <div id="statuses">
            {# Date #}
            <p class="date">{{ page.date }}</p>
        </div>
    </div>
</div>
{# Content #}
<div id="page">
    {{ page.content | safe }}
</div>
{% endblock content %}