<!DOCTYPE html>
<html lang="en">

<html>

<head>
    {# Fonts #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    {# Metadata #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    {# Favicon #}
    <link rel="icon" type="image/x-icon" href="/img/Favicon.png">
    {# Styling #}
    <link rel="stylesheet" href="/style.css">
    {% block styling %}{% endblock styling %}
    {# Title #}
    <title>Owen Griffiths{% if page.title %} - {{ page.title }}{% elif section.title %} - {{ section.title }}{% endif %}
    </title>
</head>

<body>
    {# Navbar #}
    <nav>
        <a id="nav-left" class="nav-link" href="/">Owen Griffiths</a>
        <div>
            <a id="nav-right" class="nav-link" href="/#about">About</a>
            <a id="nav-right" class="nav-link" href="/blog">Blog</a>
        </div>
    </nav>
    {# Content #}
    {% block content %}{% endblock %}
    {# Scripts #}
    {% block scripts %}{% endblock %}
</body>

</html>