{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="/blog.css">
{% endblock %}

{% block scripts %}
<script src="/js/blog.js"></script>
<script src="/js/fancydate.js"></script>
{% endblock scripts %}

{% block content %}
{# Jankness #}
<div id="jank">
    {% set names = [] %}
    {% set values = [] %}
    {% for page in section.pages %}
    {{ page.title }}={{ page.date }}={{ page.path }}=
    {% for key, taxonomy in page.taxonomies %}
    {% if key == "categories" %}
    {% set categories = taxonomy %}
    {% for category in categories %}
    {{ category }}
    {% endfor %}
    .
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>
{# Content #}
<div id="content"></div>
{% endblock content %}