{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="/blog.css">
{% endblock %}

{% block scripts %}
<script src="/js/blog.js"></script>
<script src="/js/fancydate.js"></script>
{% endblock scripts %}

{% block content %}
{# Navbar #}
<nav>
    <!-- NOTE: navbar should ideally be a component -->
    <a id="nav-left" class="nav-link" href="/">Owen Griffiths</a>
    <div>
        <a id="nav-right" class="nav-link optional" href="/#about">About</a>
        <a id="nav-right" class="nav-link" href="/blog">Blog</a>
    </div>
</nav>
{# Latest #}
<div id="latest">
    <a href="" id="latest-link">
        <h1>Latest Article</h1>
        <p id="latest-text">Loading..</p>
    </a>
</div>
{# Jankness for content #}
<div id="jank">
    {% set names = [] %}
    {% set values = [] %}
    {% for page in section.pages %}
    {{ page.title }}={{ page.date }}={{ page.path }}=
    {% for key, taxonomy in page.taxonomies %}
    {% if key == "categories" %}
    {% set categories = taxonomy %}
    {% for category in categories %}
    {{ category }}
    {% endfor %}
    .
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>
{# Content #}
<div id="content"></div>
{% endblock content %}