{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="index.css">
{% endblock styling %}

{% block content %}
{# Hero #}
<div id="hero">
    <div>
        <h1>Owen Griffiths</h1>
        <p>Student and Developer</p>
    </div>
</div>
{# About #}
<div class="content">
    <h1 id="first">About Me</h1>
    <p>I'm Owen Griffiths, a developer and student currently residing in Liverpool, UK. I primarily use the Python and
        Rust programming languages and focus on Web Development, Cyber Security and Developer Tooling 👋</p>
    <h1>Contact</h1>
    <p>You can contact me using the channels below:</p>
    <ul>
        <li>Email (fastest): <a href="mailto:root@ogriffiths.com">root@ogriffiths.com</a></li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/owen-griffiths-39b267234/">Owen Griffiths</a></li>
        <li>Github: <a href="https://github.com/owez">Owez</a></li>
    </ul>
</div>
{% endblock content %}